/* App.css */

body{
  background-color: #E3E8F8;
  font-family: 'Montserrat', sans-serif;
}

.app-container {
  display: flex;
  height: 100vh;
}

.col-md-3 {
  width: 20%;
}

.navbar {
  width: 100%;
  margin: auto;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-nav{
  color: white;
  background-color: #203562;
  display: inline;
  pointer-events: none;
}

.navbar h1 {
  margin-bottom: 20px;
}

.row{
  height: 100vh;
}

.main-content {
  /* flex: 1; */
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.add-note,
.preview-notes {
  margin-bottom: 20px;
}

.add-note input,
.add-note textarea {
  width: 100%;
  margin-bottom: 10px;
}

.add-note input,
.add-note textarea {
  width: 100%;
  margin-bottom: 10px;
}

textarea, input {
  width: 100%;
  margin-bottom: 10px;
}

.logo{
  margin: 2px;
  display: inline;
  background-color: white;
  border-radius: 50%;
}

.add-note-form {
  width: 100%;
}


.notes-list {
  display: flex;
  flex-wrap: wrap;
}

.note {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 5px;
  flex: 1 0 calc(33.33% - 10px);
  max-width: calc(33.33% - 10px);
}
